.manage-product-container{
    /* background-image: url(https://i.ibb.co/cy56mr5/pngwing-com-5.png); */
}


.manage-product-h{
    color: darkolivegreen;

    color: rebeccapurple;
    font-weight: 700;
    word-spacing: 8px;
    letter-spacing: 2px;
    text-decoration: underline overline;
  font-family: 'Roboto', sans-serif;
}
.manage-page{
    background-color: gray;
    background-color: aliceblue;
    background-color: azure;
    background-image: url(https://i.ibb.co/cNVrxgn/pngwing-com-9.png);
    background-position: cover;
    /* background-repeat: no-repeat; */
    background-color: white;
    /* background-color: red; */
}

.manage-product-p{
    color: grey;
    color: maroon;
    color: skyblue;
    color: red;

    font-weight: 500;
}

.product-name{
    font-size: 1.5rem;
    color: darkred;
    color: darkSlateGray;
    font-weight: 600;
    letter-spacing: 1px;
    /* color: darkolivegreen; */
    font-family: 'Roboto', sans-serif;
}
.produc-price{
    font-size: 1.2rem;
    font-weight: 500;
    /* color: darkred; */
    color: darkSlateGray;
    font-family: 'Roboto', sans-serif;
}