.regular input, .text-area{
color: darkslateblue;
font-weight: bold;
font-size: 1rem;
display: block;
width: 30vw;
margin-left: 20px ;
margin-right: 20px;
border: none;
padding: 15px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.regular input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.support{
    color: darkslateblue;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 4%;
}
.copy-email{
    color: red;
    cursor: pointer;
    margin-left: 4%;

}

.contact-form{
    margin-top: 20vh;
}
.float-right{
    float: right;
    margin-right: 5%;
}