.homesection{
padding-top: 250px;
padding-left: 100px;
}
.wetake{
    color:midnightblue ;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}
.nextlevel{
    color:orange;
    font-weight: 900;
    font-size: 4.5rem;
    letter-spacing: 3px;
}
.learnmore{
margin-top: 2rem;
font-size: 1.5rem;
}
/* Animation */
@keyframes nextlevel {
    0% {
        top: 0px;
        left: 0px;

    }
    10% {
        top: 130px;
        left: 20%;

    }
    20% {
        top: 0px;
        left: 40%;

    }
    30% {
        top: 130px;
        left: 60%;

    }
    40% {
        top: 0px;
        left: 80%;

    }
    50% {
        top: 130px;
        left: 95%;

    }
    60% {
        top: 0px;
        left: 80%;

    }
    70% {
        top: 130px;
        left: 60%;

    }
    80% {
        top: 0px;
        left: 40%;

    }
    90% {
        top: 130px;
        left: 20%;

    }
    100% {
        top: 0px;
        left: 0px;
        /* transform: rotate(00deg); */
    }
}
.animation-parent {
    width: 90%;
    height: 200px;
    /* margin-top: 50px; */
    /* margin-left: 20%; */
}

.nextlevel {
    position: relative;
    /* width: 100%;
    height: 100px; */
    animation: nextlevel 10s linear 0s infinite alternate;
    animation-play-state: running;
}