.homesection{
padding-top: 250px;
padding-left: 100px;
}
.wetake{
    color:midnightblue ;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 5%;

    width: 100%
}

.learnmore{
margin-top: 1rem;
font-size: 1.5rem;
margin-left: 5%;

}
/* Animation */


.wrapper{
    display: inline-flex;
    color: aliceblue;
}
.wrapper .static-text{
    color: ghostwhite;
    font-weight: 400;
}
.wrapper .dynamic-texts{
    /* margin-left: 15px; */
    line-height: 70px;
    height: 70px;
    overflow: hidden;
}
.dynamic-texts{

}
.dynamic-texts li{
    list-style: none;
    text-align: start;
    color:orange;
    position: relative;
    font-weight: 900;
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin-left: 0;
    top: 0px;
   animation: slide 32s steps(4) infinite;

}

@keyframes slide {
    100%{
        top: -280px;
    }
}
.dynamic-texts li span{
    position: relative;
}

.dynamic-texts li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid orange;;
    left: 0;
    background: white;
    /* margin-top: 20px; */
    top: 0px;
    /* border: 1px solid red; */
    animation: typing 8s steps(20) infinite;

}

@keyframes typing {
    50%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
    100%{
        right:100%;
        margin: 0 -35px 0 35px;
    }
}
